@import "normalize";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

#notice-wrapper{
  width: 100%;
  position: absolute;
  z-index: 999;
  text-align: center;
  font-weight: 700;
}
